@keyframes initialAppear {
  0% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-9.3%);
  }
}

@keyframes baseAppear {
  100% {
    transform: translateY(-100%);
  }
}

.main-menu-container {
  position: absolute;
  top: 0;
  left: 5vw;
  height: 88vh;
  transform: translateY(-9.3%);

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .version-text {
    width: 100%;
    position: absolute;
    bottom: 2.4%;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-family: "FrizQuadrata";
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.visible {
      opacity: 1;
    }
  }

  .copyright-text {
    position: absolute;
    bottom: -4.1%;
    width: 100%;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    font-family: "FrizQuadrata";
    font-size: 9px;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.visible {
      opacity: 1;
    }
  }

  &.open {
    animation-fill-mode: forwards;
    animation-name: initialAppear;
    animation-duration: 1s;
  }

  &.close {
    animation-fill-mode: forwards;
    animation-name: baseAppear;
    animation-duration: 0.7s;
  }

  &.initial {
    transform: translateY(-100%);
  }
}
